---
layout: hero.hbs
title: Confirmação de submissão
---

<!-- content start -->
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <h1>Olá, {nome}</h1><hr>
            <p class="lead">
                Seu trabalho foi recebido pela organização da Semana de Integração
                Científica do IFCE Campus Maracanaú.
                Em breve enviaremos mensagem sobre a avaliação e aceitação do trabalho.
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper offset-by-four last">

      <table class="four columns">
        <tr>
          <td>

            <table class="button large-button success radius">
              <tr>
                <td>
                    <a href="{href_link}">Entrar</a>
                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>


<table class="row footer">
  <tr>
    <td class="wrapper">

      <table class="six columns">
        <tr>
          <td class="left-text-pad">

            <h5>Conecte-se:</h5>

            <table class="tiny-button facebook">
              <tr>
                <td>
                  <a href="#">Facebook</a>
                </td>
              </tr>
            </table>

            <br>

            <table class="tiny-button twitter">
              <tr>
                <td>
                  <a href="#">Twitter</a>
                </td>
              </tr>
            </table>

            <br>

            <table class="tiny-button google-plus">
              <tr>
                <td>
                  <a href="#">Google +</a>
                </td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper last">

      <table class="six columns">
        <tr>
          <td class="last right-text-pad">
            <h5>Contact Info:</h5>
            <p>Email: <a href="mailto:comsolid@comsolid.org">comsolid@comsolid.org</a></p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<!-- container end below -->
